.login-page {
  background-color: rgba($color-grey-dark-1, .2);
  height: 100vh;
  display: flex;
  align-items: center;

  @include respond(phone) {
    background-image: url("../../assets/images/pages/bg-login.jpg");
    background-position: center;
    background-size: cover;
  }
}
.login-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 1rem;
  overflow: hidden;
  margin: 5rem 20rem;
  box-shadow: 1rem 1rem 1rem rgba($color-dark-1, .2);

 @include card-auth-responsive;

  &__left {
    background: rgba(darkblue, .8);
    height: 80vh;
    width: 50vw;
    @include respond(phone) {
      width: 100vw;
    }
  }

  &__right {
    height: 80vh;
    width: 50vw;
    &--image {
      width: 100%;
      height: 100%;
    }
    @include respond(phone) {
      display: none;
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    &--main {
      font-size: 3rem;
      color: rgba($color-ligth-1, .9);
      font-family: 'monospace';
      letter-spacing: .3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    &--sub {
      text-transform: uppercase;
      font-size: 1.3rem;
      color: rgba($color-ligth-1, .9);
      letter-spacing: .3rem;
      margin-bottom: 2rem;
      font-family: 'monospace';
    }
  }

  &__form {
    padding: 1rem 2rem;
    transition: all .2s;
    &--input {
      display: block;
      width: 100%;
      height: 4rem;
      padding: 0 1rem;
      margin: 2rem 0;
      border-radius: .5rem;
      border: none;
      font-family: 'monospace';
      font-weight: bold;

      &:focus {
        outline: none;
        box-shadow: .5rem .5rem 1rem rgba($color-dark-1, .5);
      }
    }
  }

  &__action {
    text-align: center;
    margin: 5rem 0;
    transition: all .2s;
    &--button {
      width: 20rem;
      height: 4rem;
      border: none;
      background-color:rgba(deeppink, 1);
      color: white;
      font-size: 2rem;
      border-radius: 1rem;
      font-family: 'monospace';
      box-shadow: .5rem .5rem 1rem rgba($color-dark-1, .2);
      cursor: pointer;

      &:hover {
        transform: scaleX(1.1) scaleY(1.1);
      }

      &:disabled {
        background-color: rgba(deeppink, .2);
        transform: scaleX(1) scaleY(1);
        cursor: default;
      }

      &:active {
        outline: none;
      }
    }
  }

  &__message {
    font-family: 'monospace';
    padding: 0 2rem;
    transition: all 0.2s;
    p {
      color: white;
      a {
        color: deeppink;
        text-decoration: none;

        &:hover {
          color: #1890ff;
        }
      }
    }

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
}

.login-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.remember {
  font-family: 'monospace';
  font-weight: bold;
  color: $color-ligth-1;
}

.forgot {
  font-family: 'monospace';
  font-weight: bold;
  color: deeppink;
}
