.movie-bottom-title {
  margin-top: 1.5rem;
  &__main {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba($color-dark-1, .8);
  }

  &__sub {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba($color-primary-dark, .7);
  }
}
