// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media(max-width: 37.5em) { //600px
      @content
    }
  }
  @if $breakpoint == tab-port {
    @media(max-width: 56.25em) { //900px
      @content
    }
  }
  @if $breakpoint == tab-land {
    @media(max-width: 75em) { //1200px
      @content
    }
  }
  @if $breakpoint == big-desktop {
    @media(min-width: 112.5em) { //1800px
      @content
    }
  }
}

@mixin card-auth-responsive {
  @include respond(tab-land) {
    margin: 5rem 10rem;
  }

  @include respond(tab-port) {
    margin: 5rem 5rem;
  }

  @include respond(phone) {
    margin: 5rem 1rem;
  }
}
