// Color
$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-dark-1: #000;
$color-ligth-1: #fff;

// FONT
$default-font-size: 1.6rem;
$input-font-size: 1.4rem;
$input-error-font-size: 1.2rem;
