.btn-icon {
  border: none;
  &:hover {
    border: none;
  }
}

.button {
  transition: all .2s;

  &__icon {
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    border: none;
    background-color: inherit;
    color: rgba($color-grey-dark-2, .8);

    &:hover {
      color: rgba($color-dark-1, .8);
      cursor: pointer;
      transform: scale(1.3, 1.3);
    }
  }

  &__icon--danger {
    background-color: inherit;
    color: rgba($color-primary, .8);
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    border: none;
    transition: all .2s;
    &:hover {
      color: rgba($color-primary, 1);
      cursor: pointer;
      transform: scale(1.3, 1.3);
    }
  }

  &:focus {
    outline: none;
  }
}
