.card {
  height: 30rem;
  width: 20rem;
  border-radius: 1.5rem;
  border: 1px solid $color-grey-dark-1;
  overflow: hidden;
  transition: all .2s;

  img {
    width: 100%;
    height: 100%;
  }

  span {
    z-index: 999;
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    box-shadow: .5rem .5rem 1rem rgba($color-grey-dark-1, .8);
  }
}
