.form {

}

.input-field {
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  margin: 0 auto;
  border: 1px solid inherit;
  font-weight: 400;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
}

.input-label {
  font-size: $input-font-size;
  margin: .5rem 0;
}

.input-label-error {
  font-size: 1.2rem;
  color: rgba(red, .6);
  font-style: italic;
}
