.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  max-height: 50vh;

  &__text {
    margin-left: 4rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: .5rem;
  }
}
