.page-title-box {
  height: 4rem;
  border-bottom: 1px solid rgba($color-grey-dark-1, .2);
  margin-bottom: 5rem;
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  display: flex;
  justify-content: space-between;

  .title {
    margin-left: 2.4rem;
    font-weight: 600;
    font-size: $default-font-size;
  }

  .action {
    margin-right: 2.4rem;
    button {
      margin-top: -1.5rem;
    }
  }
}

.action-wrapper {
  button {
    margin-right: .5rem;
  }
}
