.page-content {
  flex: 1;
  width: 100%;
  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: column;
  &__title {
    display: flex;
    justify-content: space-between;

    &--text {
      font-size: 2rem;
      font-weight: 700;
      color: rgba($color-dark-1, .7);
      @include respond(phone) {
        font-size: 1.3rem;
      }
    }

    &--action {
      .btn-action {
        background-color: rgba($color-primary, .8);
        min-width: 15rem;
        height: 3rem;
        border: none;
        border-radius: .5rem;
        box-shadow: .5rem .5rem .5rem rgba($color-grey-dark-1, .3);
        color: var(--color-white-1);
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        transition: all .2s;
        &:focus {
          outline: none;
        }

        &:hover {
          transform: scaleX(1.2) scaleY(1.2);
        }

        @include respond(phone) {
          min-width: 8rem;
          overflow: hidden;
        }
      }
    }
  }

  &__body {
    margin-top: 3rem;
  }
}
