.sidebar {
  background-color: var(--color-white-1);
  border: .1rem solid rgba($color-grey-light-3, .5);
  display: flex;
  flex-direction: column;
  width: 25rem;
  &__header {
    border-bottom: .1rem solid rgba($color-grey-light-3, .5);
    &--title {
      padding: 1rem 2rem;
      margin-bottom: 3rem;
      display: flex;

      .icon-title {
        width: 3.5rem;
        height: 3.5rem;
      }

      .text-title {
        font-size: 2.5rem;
        font-weight: 400;
        margin-left: 1rem;
      }

      @include respond(tab-port) {
        .text-title {
          font-size: 1.5rem;
          font-weight: 400;
          margin-left: 1rem;
        }
      }

      @include respond(phone) {
        margin-bottom: 0;

        .text-title {
          display: none;
        }
      }
    }

    &--profile {
      display: block;
      text-align: center;

      img {
        background-color: var(--color-grey-light-1);
        padding: .3rem;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        border: .2rem solid var(--color-primary);

        @include respond(phone) {
          height: 5rem;
          width: 5rem;
        }
      }

      &-name {
        color: var(--color-dark-1);
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .1rem;
        @include respond(phone) {
          display: none;
        }
      }

      &-username {
        color: var(--color-grey-dark-2);
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
        letter-spacing: .1rem;
        @include respond(phone) {
          margin: 1rem 0;
          letter-spacing: 0;
          font-size: .8rem;
        }
      }
    }

  }

  // Navigation
  &__nav {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    // margin-left: -3rem;
    &--item {
      color: rgba($color-grey-dark-3, .8);
      position: relative;
      height: 4rem;
      padding: 0 4rem;
      display: flex;
      &:not(:last-child) {
        margin-bottom: .2rem;
      }

      .item-text {
        font-weight: 500;
        margin-left: 1rem;
        margin-top: -.3rem;
      }


      @include respond(phone) {
        margin-left: -1rem;
        .item-text {
          display: none;
        }
      }

    }

    &--item:hover {
      cursor: pointer;
      color: var(--color-primary-light);
    }

    .active {
      color: var(--color-primary-light);
      cursor: default;
    }
  }

  @include respond(tab-port) {
    width: 20rem;
  }

  @include respond(phone) {
    width: 8rem;
  }
}
