.topbar {
  background-color: var(--color-white-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  border-bottom: .1rem solid rgba($color-grey-light-3, .5);

  &__search {
   /* height: 3rem;
    border: 1px solid var(--color-grey-light-2);
    border-radius: .5rem;
    width: 25rem;
    margin-left: 4rem;
    padding: 0 1rem;
    color: $color-grey-dark-2;*/
    width: 25rem;
    margin-left: 4rem;
    &:focus {
      outline: none;
    }

    @include respond(phone) {
      width: 2rem;
      visibility: hidden;
    }

  }


  &__info {
    display: flex;
    margin-right: 1rem;
    &--image {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      padding: .2rem;
      border: 1px solid var(--color-primary);
      cursor: pointer;

      @include respond(phone) {
        height: 3.5rem;
        width: 3.5rem;
        padding: .1rem;
      }
    }
    &--lang {

    }
  }

  @include respond(phone) {
    height: 5rem;
  }

}
